# Entorno del Servidor: development | production
ENV=development

# Configuración del Host y Puerto
HOST=127.0.0.1
PORT=8000

# URL del Frontend para permitir solicitudes CORS (en producción cambiar por el dominio de Vercel)
FRONTEND_URL=http://localhost:5173
